*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//____________________________________________________________
header {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  .sub-header {
    max-width: 1080px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    .filter-ico {
      position: relative;
      z-index: 5;
      .open {
        display: block;
      }
      .close {
        display: none;
      }
    }
    .name-company {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Prompt";
      font-size: 25px;
      font-weight: 500;
      z-index: 3;
    }
    .filter-burger {
      width: 100%;
      min-height: 350px;
      background: #fafafa;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      transition: all 0.3s ease 0s;
      z-index: 3;
      top: 50px;
      left: -100%;
      .filter-text {
        font-family: "Prompt";
        font-size: 18px;
        font-weight: 600;
        margin: 0 auto;
        margin-bottom: 25px;
      }
      .sport, .policy, .food, .tehnology, .science, .fashion, .it, .submit, .all {
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        p {
          font-family: "Prompt";
          font-size: 18px;
          font-weight: 600;
        }
        input {
          margin-left: 50px;
        }
        .apply-filter {
          padding: 5px 10px;
          background: rgb(36, 36, 36);
          color: #fafafa;
          font-family: "Prompt";
          font-size: 14px;
          font-weight: 600;
          border-radius: 5px;
          // margin-left: 100%;
          // transform: translateX(-100%);
        }
      }
    }
  }
}
main {
  .news-container {
    max-width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    .news {
      width: 97%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      .news-img {
        width: 100%;
        background: url("../images/load.gif") center / 30px no-repeat;
        img {
          // top: 0;
          // left: 0;
          width: 100%;
          // height: 100%;
          // object-fit: cover;
        }
      }
      .news-title  {
        width: 100%;
        margin: 10px 0;
        h3 {
          font-family: "Rubik";
          font-size: 18px;
          font-weight: 600;
        }
      }
      .news-description {
        width: 100%;
        p {
          font-family: "Calibri";
          font-size: 16px;
          line-height: 16px;
          font-weight: 400;
        }
        .play-text {
          width: 50px;
          height: 25px;
          background: #000;
          border-radius: 5px;
          margin-top: 20px;
          position: relative;
          z-index: 1; /* Необходимо для позиционирования псевдоэлемента */
        }
        
        .play-text::before {
          content: '\25B6'; /* Код символа Unicode для треугольника вправо */
          font-size: 15px;
          color: #fff;
          position: absolute; /* Позиционируем псевдоэлемент относительно кнопки */
          top: 50%; /* Располагаем псевдоэлемент по вертикали в центре кнопки */
          left: 50%; /* Располагаем псевдоэлемент по горизонтали в центре кнопки */
          transform: translate(-50%, -50%); /* Центрируем псевдоэлемент в кнопке */
          z-index: 1;
        }
        ol {
          li {
            font-family: "Calibri";
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
          }
        }
      }
      .news-original-link {
        width: 100%;
        padding: 10px 0;
        a {
          display: inline-block;
          font-size: 16px;
          font-family: 'Montserrat';
          font-weight: 600;
          color: #fdfdfd;
          padding: 5px 10px;
          background-color: rgb(28, 28, 28);
          border-radius: 5px;
        }
      }
    }
    // .news > .news-img {
    //   width: 100%;
    //   position: relative;
    //   padding-bottom: 60%;
    //   background-color: #db0b0b;
    // }
  }
}

.reboot {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #000000;
  border: 2px solid #333;
  color: #ffffff;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 100%;
  transform: translateX(-150%);
  transition: all 0.3s ease;
}

.reboot:before {
  content: "\21BB";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all 0.3s ease;
}

.reboot:hover:before {
  transform: translate(-50%, -50%) rotate(360deg);
}
.chkx {
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #000;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.chkx::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  width: 7px;
  height: 12px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.chkx:checked::before {
  opacity: 1;
}